<p>写真にいいね&コメントをしよう！！</p>
<p>ここではユーザの投稿を閲覧できます。</p>

<% @posts.each do |post| %>

<div>
 <%= link_to post_path(post.id) do %>
  <%= image_tag post.get_image %>
 <% end %>


  <p>投稿写真：<%= image_tag post.user.get_profile_image(100,100) %></p>
  <p>撮影場所名：<%= post.location %></p>
  <p>説明文：<%= post.body %></p>
  <p>ユーザーネーム：<%= post.user.name %></p>
  <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
</div>
<% end %>