<div class="main">
 <h1>投稿詳細</h1>
  <div>
  <%= image_tag @post.post_image, size: '320x240' %>
  <p>撮影場所：<%= @post.location %></p>
  <p>説明文：<%= @post.body %></p>
  <p>プロフィール画像：<%= image_tag @post.user.get_profile_image(100,100), class: "rounded-circle" %></p>
  <p>ユーザーネーム：<%= @post.user.name %></p>
  <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>

  <p><%= link_to tag.tag_name, search_post_path(keyword: tag.tag_name) %></p>



  <% if @post.user == current_user %>
    <%= link_to "投稿削除", post_path(@post), method: :delete %>
  <% end %>

  <% if @post.favorited?(current_user) %>
    <p>
      <%= link_to post_favorite_path(@post.id), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_favorites_path(@post.id), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>


<div>
  <p>コメント件数：<%= @post.post_comments.count %></p>
  <% @post_comments.each do |post_comment| %>
   <tr>
    <td><%= image_tag post_comment.user.get_profile_image(50,50), class: "rounded-circle" %></td>
    <td><%= post_comment.user.name %></td>
    <div class="balloon1-left">
    <td><%= post_comment.comment %></td>
    </div>
    <% if user_signed_in? && post_comment.user_id == current_user.id %>
    <td><%= link_to "削除", post_post_comment_path(@post, post_comment), method: :delete %></td>
    <% end %>
   </tr>
  <% end %>
</div>
<div>
  <%= form_with model:[@post, @post_comment] do |f| %>
    <%= f.text_area :comment, :size=>"50x5", placeholder: "コメントをここに" %>
    <p><%= f.submit "送信する", class:"btn btn-info mt-5" %></p>
  <% end %>
</div>
</div>